.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./bgImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dashboard-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.dashboard-content {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.dashboard-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .dashboard-header {
        font-size: 1.5rem;
    }

    .dashboard-content {
        font-size: 1rem;
    }
}